*,
html {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1c1a19 url("assets/images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top 312px right 0;
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.header-section {
  background-color: #3c3a39;
  width: 100vw;
}

.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.time-display {
  margin-left: 21px;
  font-size: 14px;
  font-weight: 500;
  width: 56px;
  color: #fff;
  padding: 0 12px 0 12px;
}

.app-bar-images {
  margin-right: 15px;
}

.navbar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-left: 24px;
  cursor: pointer;
}

.logo h2 {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.menu-icon {
  margin-right: 32px;
  width: 24px;
  height: auto;
}

.front-page {
  margin: 120px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-header {
  font-size: 56px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  line-height: 64px;
  color: #ff6b00;
}

.profession-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff5e1;
  margin-bottom: 12px;
  line-height: 32px;
}

.description {
  font-family: Poppins, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 22px;
}

.social-contact {
  display: flex;
  justify-content: flex-start;
}

.github-icon,
.linkedin-icon,
.angelist-icon,
.twitter-icon,
.m-icon {
  margin-right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.work-section {
  padding: 120px 0;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.recent-work {
  margin: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.work-heading {
  font-size: 40px;
  font-weight: 400;
  color: #1c1a19;
  line-height: 52px;
  margin-bottom: 24px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  align-self: center;
}

.recent-work hr {
  border: 1px solid #212121;
  margin-bottom: 80px;
}

.image-placeholder {
  margin-bottom: 24px;
  align-self: center;
}

.sub-heading {
  font-size: 32px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  margin-bottom: 12px;
}

.recent-work p {
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.button-group-1 {
  display: flex;
  list-style: none;
  margin-bottom: 12px;
  padding-left: 0;
}

.button-group-1 li {
  margin-right: 12px;
}

.btn {
  text-decoration: none;
  border: 1px solid #8993a4;
  display: inline-block;
}

.btn-transparent {
  padding: 10px 12px;
  color: #091e42;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.btn-solid-short {
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.btn-solid-short:enabled,
.btn-solid-short:hover {
  background: #f55800;
  color: #f4f1f0;
}

.work-list {
  margin: 24px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
}

.work-item {
  background: transparent url("./assets/images/card-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 24px;
}

.work-item h3 {
  margin-top: 84px;
  color: #fff;
  padding: 0 16px 0 16px;
}

.work-item p {
  padding: 0 16px 0 16px;
  color: #fff;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.button-group-2 {
  display: flex;
  list-style: none;
  margin-bottom: 12px;
  margin-left: 16px;
  padding-left: 0;
}

.button-group-2 li {
  margin-right: 12px;
}

.btn-gray {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 10px 12px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.btn-transparent:hover,
.btn-gray:hover {
  color: #f55800;
  border: 1px solid #f55800;
}

.btn-transparent:active,
.btn-gray:active {
  background: #e05304;
  color: #f4f1f0;
}

.btn-solid-long {
  width: 100%;
  background: #ff6b00;
  padding: 12px;
  text-align: center;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}

.btn-solid-long:enabled,
.btn-solid-long:hover {
  background: #f55800;
}

.btn-solid-long:active {
  background: #e05304;
}

.about-section {
  background: transparent url("/assets/images/aboutme-background-image.png");
  background-repeat: no-repeat;
  background-position: top 265px left 215px;
}

.aboutme-heading {
  color: #ff6b00;
  font-size: 72px;
  line-height: 88px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  letter-spacing: 0.37px;
  font-weight: normal;
  margin: 120px 24px 24px 24px;
}

.aboutme-desc {
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 0 24px 24px 24px;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.about-section a {
  margin-left: 24px;
  margin-bottom: 209px;
}

.about-section hr {
  border: 1px solid #fff;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 137px;
}

.about-categories {
  color: #fff;
  margin-bottom: 131px;
}

.list-1,
.list-2,
.list-3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.list-1 {
  list-style-image: url("./assets/images/square-icon-45-1.png");
}

.list-2 {
  list-style-image: url("./assets/images/square-icon.svg");
}

.list-3 {
  list-style-image: url("./assets/images/circle-icon.svg");
}

.list-items {
  font-size: 22px;
  line-height: 43px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 44px 0;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.list-items li {
  margin-bottom: 32px;
}

.list-items h4:last-child {
  margin-bottom: 0;
}

.form-section {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.form-description {
  margin: 120px 24px 73px 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.portfolio-form {
  margin: 0 24px 124px 24px;
  display: flex;
  flex-direction: column;
}

.portfolio-form ul {
  list-style: none;
  padding: 0;
}

.form-input {
  padding: 12px 16px 12px 0;
  outline: none;
  border-style: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 39px;
  width: 100%;
  background-color: #e5e5e5;
}

.form-input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.form-message {
  width: 100%;
  background: #fbf8f7;
  height: 114px;
  margin-bottom: 24px;
}

.form-message::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  margin: 12px;
}

.form-btn {
  align-self: center;
  background-color: #fbf8f7;
}
