*,
html {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1c1a19 url("assets/images/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 264px right 0;
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

@media screen and (min-width: 992px) {
  body {
    background: #1c1a19 url("assets/images/bg-front-page-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
  }
}

/* Navigation and Logo */

.header-section {
  background-color: #3c3a39;
  width: 100vw;
}

.navbar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-left: 24px;
  cursor: pointer;
}

.logo h2 {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.desktop-nav {
  display: none;
}

.menu-icon {
  margin-right: 32px;
  width: 24px;
  height: auto;
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 64px;
  }

  .logo {
    margin-left: 151px;
    font-size: 20px;
    line-height: 20px;
  }

  .menu-icon {
    display: none;
  }

  .desktop-nav {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .desktop-nav li {
    margin-right: 32px;
    transition: all 0.5s;
  }

  .desktop-nav li:last-child {
    margin-right: 151px;
  }

  .desktop-nav li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transition: all 0.5s;
  }

  .desktop-nav li:hover {
    transform: translateY(-2px);
  }

  .desktop-nav li a:hover {
    color: #e05304;
  }
}

/* Front page styles */

.front-page {
  width: 100vw;
  margin: 120px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-intro {
  margin-bottom: 22px;
  margin-right: 24px;
}

.front-page-heading {
  font-size: 56px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  line-height: 64px;
  color: #ff6b00;
  margin-bottom: 12px;
}

.front-page-heading span {
  display: block;
}

.profession-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff5e1;
  margin-bottom: 12px;
  line-height: 32px;
}

.profession-description {
  font-family: Poppins, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-right: 24px;
}

.social-contact {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.social-contact li {
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
}

@media screen and (min-width: 992px) {
  .front-page {
    margin-left: 36px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-intro {
    max-width: 420px;
    order: 2;
  }

  @keyframes heading-animation {
    from {
      margin-top: 100%;
      overflow: hidden;
    }

    to {
      margin-top: 0%;
    }
  }

  .front-page-heading {
    font-size: 64px;
    line-height: 72px;  
    color: #ff6b00;
    margin-bottom: 18px;
    animation-duration: 3s;
    animation-name: heading-animation;
  }

  .profession-title {
    font-size: 24px;
    font-weight: 700;
    color: #fff5e1;
    margin-bottom: 18px;
    line-height: 36px;
  }

  .profession-description {
    font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #f4f4f7;
  }

  .social-contact {
    flex-direction: column;
    align-items: center;
    margin-right: 65px;
    order: 1;
  }

  .social-contact li {
    margin-bottom: 23px;
  }

  .social-contact li a {
    margin-right: 0;
  }

  .social-contact li a img {
    transition: all 0.75s ease-in-out;
  }

  .social-contact li a img:hover {
    transform: scale(1.5);
  }
}

@media screen and (min-width: 1201px) {
  .front-page {
    margin-top: 192px;
  }

  .header-intro {
    max-width: 566px;
  }

  .front-page-heading {
    font-size: 72px;
    line-height: 81.5px;
    margin-bottom: 24px;
  }

  .profession-title {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: 44px;
  }

  .profession-description {
    font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #f4f4f7;
  }
}

/* Work or Project section */

.work-section {
  padding: 120px 0;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.recent-work {
  margin: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.work-heading {
  font-size: 40px;
  font-weight: 400;
  color: #1c1a19;
  line-height: 52px;
  margin-bottom: 24px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  align-self: center;
}

.recent-work hr {
  border: 1px solid #212121;
  margin-bottom: 80px;
}

@media screen and (min-width: 992px) {
  .work-section {
    padding: 135px 60px 93px 60px;
  }

  .wrapper-work-heading {
    display: flex;
    align-items: center;
    margin-bottom: 114px;
  }

  .work-heading {
    font-size: 32px;
    color: #091e42;
    margin-bottom: 0;
    margin-right: 24px;
  }

  .recent-work hr {
    border: 1px solid #212121;
    margin-bottom: 0;
    width: 60%;
    height: 1px;
  }
}

@media screen and (min-width: 1201px) {
  .work-section {
    padding: 135px 100px 93px 100px;
  }

  .work-heading {
    font-size: 40px;
  }
}

.image-placeholder {
  margin-bottom: 24px;
  align-self: center;
  width: 327px;
  height: auto;
}

.sub-heading {
  font-size: 32px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  margin-bottom: 12px;
}

.recent-work p {
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

/* Buttons */

.button-group-1 {
  display: flex;
  list-style: none;
  margin-bottom: 12px;
  padding-left: 0;
}

.button-group-1 li {
  margin-right: 12px;
}

.btn {
  text-decoration: none;
  border: 1px solid #8993a4;
  display: inline-block;
}

.btn-transparent {
  padding: 10px 12px;
  color: #091e42;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.btn-solid-short {
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.btn-solid-short:enabled,
.btn-solid-short:hover {
  background: #f55800;
  color: #f4f1f0;
}

@media screen and (min-width: 992px) {
  .wrapper-recent-work {
    display: flex;
    justify-content: center;
  }

  .image-placeholder {
    margin-right: 16px;
    width: 480px;
    height: auto;
  }

  .sub-heading {
    font-size: 36px;
    color: #091e42;
  }

  .recent-work p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    padding: 10px 12px;
    color: #091e42;
  }

  .button-group-1 {
    margin-bottom: 24px;
  }

  .button-group-1 li {
    margin-right: 16px;
  }

  .btn-solid-short {
    transition: all 0.5s;
  }

  .btn-solid-short:hover {
    transform: translateY(-2px) scale(1.1);
  }
}

@media screen and (min-width: 1201px) {
  .image-placeholder {
    width: 684px;
  }

  .sub-heading {
    font-size: 40px;
  }

  .recent-work p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .button-group-1 {
    margin-bottom: 36px;
  }

  .button-group-1 li {
    margin-right: 24px;
  }
}

.work-list {
  margin: 24px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
}

@media screen and (min-width: 992px) {
  .work-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 24px;
    grid-column-gap: 37px;
  }
}

[class*="work-item-"] {
  background: transparent url("assets/images/card-background-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  transition: 0.5s ease-in-out;
}

.work-item-1 {
  background: transparent url("assets/images/bg-desktop-project-1.svg");
  justify-content: flex-end;
}

.work-item-1 .work-list-description {
  display: none;
}

.work-item-2 {
  background: transparent url("assets/images/bg-desktop-project-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work-item-3 {
  background: transparent url("assets/images/bg-desktop-project-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work-item-5 {
  background: transparent url("assets/images/bg-desktop-project-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work-item-6 {
  background: transparent url("assets/images/bg-desktop-project-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[class*="work-item-"] h3 {
  margin-top: 84px;
  color: #fff;
  padding: 0 16px 0 16px;
}

[class*="work-item-"] p {
  padding: 0 16px 0 16px;
  color: #fff;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.button-group-2 {
  display: flex;
  list-style: none;
  margin-bottom: 12px;
  margin-left: 16px;
  padding-left: 0;
}

.button-group-2 li {
  margin-right: 12px;
}

.btn-gray {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 10px 12px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.btn-transparent:hover,
.btn-gray:hover {
  color: #f55800;
  border: 1px solid #f55800;
}

.btn-transparent:active,
.btn-gray:active {
  background: #e05304;
  color: #f4f1f0;
}

.btn-solid-long {
  width: 100%;
  background: #ff6b00;
  padding: 12px;
  text-align: center;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}

.btn-solid-long:enabled,
.btn-solid-long:hover {
  background: #f55800;
}

.btn-solid-long:active {
  background: #e05304;
}

.work-item-2 .btn-solid-long,
.work-item-3 .btn-solid-long,
.work-item-4 .btn-solid-long,
.work-item-5 .btn-solid-long,
.work-item-6 .btn-solid-long {
  display: none;
}

/* About Section */

.about-section {
  background: transparent url("assets/images/aboutme-background-image.png");
  background-repeat: no-repeat;
  background-position: top 384px right;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  .about-section {
    background-image: url("assets/images/bg-aboutme-desktop.svg");
    background-repeat: no-repeat;
    background-position: top 99px right;
    background-size: 45%;
  }

  .wrapper-about-heading {
    width: 480px;
    margin: 90px auto 0 110px;
  }

  [class*="work-item-"] {
    transition: 0.5s ease-in-out;
    opacity: 0.9;
  }

  [class*="work-item-"]:hover {
    transform: scale(1.1) scale(1);
    opacity: 1;
  }
}

@media screen and (min-width: 1201px) {
  .wrapper-about-heading {
    width: 566px;
    margin: 130px auto 0 142px;
  }
}

.aboutme-heading {
  color: #ff6b00;
  font-size: 72px;
  line-height: 88px;
  font-family: "Crete Round", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  letter-spacing: 0.37px;
  font-weight: normal;
  margin: 120px 24px 24px 24px;
}

.aboutme-desc {
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 0 24px 24px 24px;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.about-section a {
  margin-left: 24px;
  margin-bottom: 209px;
}

.about-section hr {
  border: 1px solid #fff;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 137px;
}

@media screen and (min-width: 992px) {
  .about-section a {
    border: 2px solid #f55800;
  }

  .aboutme-heading {
    color: #f55800;
    margin-bottom: 24px;
  }

  .aboutme-desc {
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-bottom: 24px;
  }

  .about-section hr {
    margin-bottom: 146px;
    width: 80vw;
    align-self: center;
  }
}

.about-categories {
  color: #fff;
  margin-bottom: 131px;
}

@media screen and (min-width: 992px) {
  .about-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

.list-1,
.list-2,
.list-3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.list-1 {
  list-style-image: url("assets/images/square-icon-45-1.png");
}

.list-2 {
  list-style-image: url("assets/images/square-icon.svg");
}

.list-3 {
  list-style-image: url("assets/images/circle-icon.svg");
}

.list-items {
  font-size: 22px;
  line-height: 43px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 44px 0;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.list-items li {
  margin-bottom: 32px;
}

.list-items h4:last-child {
  margin-bottom: 0;
}

/* form section */

.form-section {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.form-description {
  margin: 120px 24px 73px 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.portfolio-form {
  margin: 0 24px 124px 24px;
  display: flex;
  flex-direction: column;
}

.portfolio-form ul {
  list-style: none;
  padding: 0;
}

.form-input {
  padding: 12px 16px 12px 0;
  outline: none;
  border-style: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 39px;
  width: 100%;
  background-color: #e5e5e5;
}

.form-input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.form-message {
  width: 100%;
  background-color: transparent;
  height: 114px;
  margin-bottom: 24px;
}

.form-message::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  margin: 12px;
}

.form-btn {
  align-self: center;
  background-color: #fbf8f7;
}

@media screen and (min-width: 992px) {
  .wrapper-form {
    display: flex;
    margin-top: 130px;
    align-content: flex-start;
    justify-content: center;
  }

  .form-description {
    margin: 0 24px auto 90px;
    width: 400px;
    font-size: 32px;
    line-height: 40px;
    color: #262626;
    text-align: start;
  }

  .portfolio-form {
    width: 684px;
    margin: 0 142px 154px 0;
  }

  .form-input {
    padding: 16px 16px 16px 16px;
    margin-bottom: 24px;
  }

  .form-input::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    font-family: Roboto, sans-serif;
  }

  .form-message {
    padding: 12px;
  }

  .form-message::placeholder {
    font-family: Roboto, sans-serif;
  }

  .form-btn {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1201px) {
  .wrapper-form {
    margin-top: 130px;
  }

  .form-description {
    margin: 0 24px auto 135px;
    width: 455px;
    font-size: 40px;
    line-height: 52px;
  }
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
}

.thin-line {
  margin-bottom: 23px;
  color: #dfe1e6;
  width: 100%;
}

.footer-buttons {
  align-self: center;
}

.footer-buttons a {
  margin-right: 21px;
}

.thick-line {
  height: 7.5px;
  background-color: #0d151e;
  margin: 0 120px 8px 120px;
  border-radius: 10px;
}

@media screen and (min-width: 992px) {
  .footer {
    height: 71px;
  }

  .thick-line {
    display: none;
  }

  .footer-buttons a {
    transition: 0.5s ease-in-out;
  }

  .footer-buttons a:hover {
    transform: scale(1.2);
  }
}